body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,  #00331a 0%, #09221A 100%);
    color: white;
    font-family: Georgia, serif;
}
.header-content {
    padding: 15px;
    text-align: center;
}
.logo {
        font-size: 2.2em;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 5px;
}
.tagline {
    font-size: 0.9em;
    color: #ddd;
    font-style: italic;
}
.date {
    font-size: 0.85em;
    color: #aaa;
    margin-top: 5px;
}