body {
    margin: 0;
    padding: 20px;
    background-color: #355E3B;
    font-family: Georgia, serif;
    line-height: 1.6;
}
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}
.news-card {
    background: #004700;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.news-card img {
    width: 100%;
    height: 180px;
    object-fit: fill;
}
.news-card-content {
    padding: 20px;
}
.news-card h3 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.news-card p {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.read-more{
    color: #7d7d7d;
}